
* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
html, body, div, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
html, body {
    background: none repeat scroll 0 0 #FFFFFF;
}
body, table p, table li {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
table {
    font: inherit;
}
section {
    display: block;
    margin: 0;
    padding: 0;
}
h1, h2, h3, dt, .main-link {
    font-family: acme,tahoma,arial;
}
h1 {
    font-size: 48px;
    padding: 5px;
}
h2 {
    color: #2B4791;
    font-size: 36px;
    line-height: 30px;
    margin: 40px 0 15px;
    text-shadow: 2px 2px 2px #EEEEEE;
}
h3, dt, .main-link {
    font-size: 24px;
    line-height: 28px;
    margin: 15px 0;
}
.main-link {
    display: inline-block;
    margin: 10px 10px 0;
}
p {
    margin-bottom: 10px;
    margin-top: 10px;
}
p, li, dd {
    font-family: 'lucida grande',tahoma,arial;
    font-size: 16px;
    line-height: 22px;
}
dt {
    margin-bottom: 5px;
}
dd {
    margin: 0 0 50px 20px;
}
hr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    clear: both;
    height: 1px;
    margin-bottom: 40px;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    color: #146892;
    text-decoration: none;
}
a img {
    border: medium none;
}
#main {
    margin: 30px;
}
.page-header, a.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2B4791;
    background-image: -moz-linear-gradient(center top , #2B4791, #142248);
    border-color: #849CBD;
    border-image: none;
    border-style: solid;
    border-width: 5px 0;
    margin: 0;
    padding: 15px;
}
.page-header a, .page-header h1 {
    color: #FFFFFF;
    line-height: 1;
    text-decoration: none;
}
.page-header a {
    float: left;
    margin-right: 10px;
}
div.section {
    float: left;
    padding: 10px 25px;
    width: 50%;
}
div.section.clear {
    clear: left;
}
.unit {
    white-space: nowrap;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    text-align: center;
}
.corner {
    border-radius: 4px;
}
.info {
    background: none repeat scroll 0 0 #FCE9E3;
    border: 1px solid #FBE1D5;
    border-radius: 4px;
    color: #9B4D39;
    padding: 5px 2px;
}
.softer {
    font-weight: normal;
}
div.info {
    margin: 10px 0;
}
.info p {
    margin: 5px;
}
.well {
    background: none repeat scroll 0 0 #EEFFEE;
    border: 1px solid #DDDDDD;
    padding: 10px;
}
.warn {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
}
.badge {
    color: #CC3D48;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: normal;
    height: 16px;
    line-height: 18px;
    width: 16px;
}
a.button, button.primary {
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    border: 1px solid #B3D3E4;
    border-radius: 6px;
    display: inline-block;
    padding: 15px;
}
a.button:hover, button.primary:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #AAAAAA;
}
button.primary {
    border-color: #CCCCCC;
    cursor: pointer;
    font-family: acme,tahoma,arial;
    font-size: 24px;
}
table {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 4px solid #DAE6F5;
    border-collapse: separate;
    border-spacing: 1px;
    margin-bottom: 10px;
}
th {
    background: none repeat scroll 0 0 #DAE6F5;
    padding: 8px 10px;
    white-space: nowrap;
}
td {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px 7px;
    vertical-align: top;
}
tr > td:first-child {
    border-left: 4px solid #DAE6F5;
}
tr > td:last-child {
    border-right: 4px solid #DAE6F5;
}
tbody tr th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
th[colspan] {
    text-align: left;
}
pre, code {
    border-radius: 3px;
    color: #032A49;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}
code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 2px 4px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    display: block;
    font-size: 12.025px;
    line-height: 18px;
    margin: 5px 0;
    overflow: auto;
    padding: 8.5px;
    white-space: pre;
}
pre code {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: inherit;
    padding: 0;
}
pre .special {
    background: none repeat scroll 0 0 #FFFF8C;
    color: #0367FD;
    display: inline-block;
    padding: 1px;
}
.google-ad {
    clear: both;
    margin: 0 auto 20px;
    width: 728px;
}
.footer-ad {
    padding-top: 20px;
}
.header-ad {
    margin: 20px auto 0;
}
.fem {
    background: none repeat scroll 0 0 #D7E6F4;
    border: 1px solid #CAD4E5;
    border-radius: 5px;
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    margin: 5px 30px 30px;
    padding: 20px;
}
@media only screen and (max-width: 700px) {
#main {
    margin: 10px 10px 30px;
}
#logo {
    height: 28px;
    width: 28px;
}
h1, h2 {
    font-size: 28px;
}
.page-header {
    padding: 5px;
}
div.section {
    float: none;
    padding: 10px;
    width: 100%;
}
}
@media only screen and (max-width: 500px) {
pre {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.google-ad {
    clear: both;
    margin: 10px 0;
    width: 320px;
}
div.section {
    float: none;
    padding: 0;
    width: 100%;
}
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  margin-bottom: 10px;
}

.carousel.vertical .prev {
  margin-top: 10px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 20;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

